mixin listBlock(list={}) 
    .listBlock
        a(href=routes.listDetail(list.id)) 
            video.videoBlock__thumbnail(src=list.listFile, controls=true)
            h4.listBlock__title=list.title 
            h6.listBlock__views=list.views